<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
	<body>
		<main>
			<nav class="nav-bar"></nav>
			<div class="container">
					<div class="camera-container">
						<img src="{{ url_for('video_feed') }}" height="80%">
					</div>
					<div class="button-container">
						<form method="post" action="{{ url_for('tasks') }}">
						<input type="submit" value="Stop/Start" name="stop" />
						<input type="submit" value="Capture" name="click"/>
						</form>
					</div>
					<div class="instr-container">
						<h3 style="font-family:courier;">Instructions:</h3>
						<ol style="font-family:courier;">
						<li>Stop/Start--Toggle between stop or start the camera</li>
						<li>Capture--Take a photo of the student to mark the attendance</li></ol>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>